<a href="https://colab.research.google.com/github/none-304/Coursera_Capstone/blob/main/Finance_Methods_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import packages
import numpy as np

In [2]:
import pandas as pd

In [3]:
from google.colab import files

In [4]:
from google.colab import drive

In [5]:
#Preparing Google Drive
drive.mount('/content/drive')

##### If you are using the attached file, upload the file using the code below #### 
# import files
# from google.colab import files
# files.upload()

##### If you are using python natively, just change the path in the cell below to the path of the file ####

Mounted at /content/drive

In [6]:
#Load up dataset
a=pd.read_sas('/content/drive/MyDrive/w23handout.sas7bdat')

In [7]:
#Checking the columns
a.columns

Index(['GVKEY', 'DATADATE', 'CONM', 'SIC', 'SICH', 'LPERMNO', 'AT', 'SALE'], dtype='object')

In [8]:
### 1st task


#Specifying Assets and Sale parameter
a=a[(a.AT>=5)& (a.SALE>0)]

In [9]:
#importing progress bar
import tqdm

In [10]:
#Prepare blank dataframe
c=pd.DataFrame()

In [14]:
a['SALE']

0           25.395
1           32.007
2           53.798
3           13.793
4           13.829
            ...
272613    2085.000
272614       0.934
272615     177.987
272617       8.203
272619     512.094
Name: SALE, Length: 233663, dtype: float64

In [15]:
a['SALE'].shift(+1)

0              NaN
1           25.395
2           32.007
3           53.798
4           13.793
            ...
272613    2541.000
272614    2085.000
272615       0.934
272617     177.987
272619       8.203
Name: SALE, Length: 233663, dtype: float64

In [16]:
#Detaching each data based on firm code to create lagged variable & appending it back into one
for b in tqdm.tqdm(set(a.GVKEY)):
  z=a[a.GVKEY==b]
  z['LAGSALE']=z['SALE'].shift(+1)
  z['GSALE']=(z.SALE-z.LAGSALE)/z.LAGSALE
  z['LAGASSETS']=z['AT'].shift(+1)
  z['GASSETS']=(z.AT-z.LAGASSETS)/z.LAGASSETS
  c=c.append(z)

  0%|          | 0/22517 [00:00<?, ?it/s]<ipython-input-16-ffbf2e97b60b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['LAGSALE']=z['SALE'].shift(+1)
<ipython-input-16-ffbf2e97b60b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['GSALE']=(z.SALE-z.LAGSALE)/z.LAGSALE
<ipython-input-16-ffbf2e97b60b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['LAGASSETS']=z['AT'].shift(+1)
<ipython-input-16-ffbf2e97b60b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['GASSETS']=(z.AT-z.LAGASSETS)/z.LAGASSETS
100%|██████████| 22517/22517 [11:22<00:00, 32.97it/s]

In [17]:
#Retain firms that have 3 or more data points
c=c.groupby('GVKEY').filter(lambda x : len(x)>=3)

In [18]:
#Specifying datadate
c=c[c.DATADATE.dt.year.between(1985,2021)]

In [19]:
c

,GVKEY,DATADATE,CONM,SIC,SICH,LPERMNO,AT,SALE,LAGSALE,GSALE,LAGASSETS,GASSETS
216769,b'063942',1996-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,36.649,2.908,NaN,NaN,NaN,NaN
216770,b'063942',1997-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,232.560,1.106,2.908,-0.619670,36.649,5.345603
216771,b'063942',1998-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,265.721,0.841,1.106,-0.239602,232.560,0.142591
216772,b'063942',1999-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,398.136,1.341,0.841,0.594530,265.721,0.498323
216773,b'063942',2000-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,455.834,1.241,1.341,-0.074571,398.136,0.144920
...,...,...,...,...,...,...,...,...,...,...,...,...
64214,b'007566',2014-05-31,b'RUBY TUESDAY INC',b'5812',5812.0,55213.0,956.427,1168.746,1251.487,-0.066114,1043.183,-0.083165
64215,b'007566',2015-05-31,b'RUBY TUESDAY INC',b'5812',5812.0,55213.0,929.391,1126.566,1168.746,-0.036090,956.427,-0.028268
64216,b'007566',2016-05-31,b'RUBY TUESDAY INC',b'5812',5812.0,55213.0,837.917,1091.228,1126.566,-0.031368,929.391,-0.098424
64217,b'007566',2017-05-31,b'RUBY TUESDAY INC',b'5812',5812.0,55213.0,723.642,951.971,1091.228,-0.127615,837.917,-0.136380
25147,b'003598',1985-11-30,b'CREST-FOAM CORP',b'3086',NaN,50649.0,18.867,42.917,39.858,0.076747,17.350,0.087435

In [20]:
#Dropping data points that have null values in the growth variables
c.replace([np.inf,np.nan],inplace=True)
c.dropna(subset=['GSALE','GASSETS'],inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [21]:
##### 2nd task


#Loading up SIC to fama french key database
sic_ff12=pd.read_csv('/content/drive/MyDrive/SIC_to_Fama_French_industry.csv')

In [22]:
#Merging the dataset into one
finaldf=pd.merge(c,sic_ff12,left_on=c.SIC.astype(int),right_on='SIC0')
finaldf

,GVKEY,DATADATE,CONM,SIC_x,SICH,LPERMNO,AT,SALE,LAGSALE,GSALE,LAGASSETS,GASSETS,SIC_y,SIC0,FF_12,FF_48
0,b'063942',1997-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,232.560,1.106,2.908,-0.619670,36.649,5.345603,4812,4812,7,32
1,b'063942',1998-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,265.721,0.841,1.106,-0.239602,232.560,0.142591,4812,4812,7,32
2,b'063942',1999-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,398.136,1.341,0.841,0.594530,265.721,0.498323,4812,4812,7,32
3,b'063942',2000-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,455.834,1.241,1.341,-0.074571,398.136,0.144920,4812,4812,7,32
4,b'063942',2005-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,90727.0,226.922,1.325,1.241,0.067687,455.834,-0.502183,4812,4812,7,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198611,b'170758',2020-12-31,b'CAESARSTONE LTD',b'3281',3281.0,13321.0,820.921,486.412,545.974,-0.109093,703.866,0.166303,3281,3281,3,17
198612,b'170758',2021-12-31,b'CAESARSTONE LTD',b'3281',3281.0,13321.0,867.653,643.892,486.412,0.323758,820.921,0.056926,3281,3281,3,17
198613,b'158744',2004-12-31,b'PLACER SIERRA BANCSHARES',b'6022',2300.0,90322.0,1778.985,86.246,367.484,0.117918,316.162,0.022343,6022,6022,11,44
198614,b'158744',2005-12-31,b'PLACER SIERRA BANCSHARES',b'6022',2300.0,90322.0,1860.462,117.420,86.246,0.361454,1778.985,0.045800,6022,6022,11,44
198615,b'158744',2006-12-31,b'PLACER SIERRA BANCSHARES',b'6022',2300.0,90322.0,2648.968,153.438,117.420,0.306745,1860.462,0.423823,6022,6022,11,44

In [23]:
#removing the fama french category 8, 11, & 12
finaldf=finaldf[(finaldf.FF_12!=8)& (finaldf.FF_12!=11) & (finaldf.FF_12!=12)]

In [24]:
finaldf

,GVKEY,DATADATE,CONM,SIC_x,SICH,LPERMNO,AT,SALE,LAGSALE,GSALE,LAGASSETS,GASSETS,SIC_y,SIC0,FF_12,FF_48
0,b'063942',1997-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,232.560,1.106,2.908,-0.619670,36.649,5.345603,4812,4812,7,32
1,b'063942',1998-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,265.721,0.841,1.106,-0.239602,232.560,0.142591,4812,4812,7,32
2,b'063942',1999-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,398.136,1.341,0.841,0.594530,265.721,0.498323,4812,4812,7,32
3,b'063942',2000-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,84191.0,455.834,1.241,1.341,-0.074571,398.136,0.144920,4812,4812,7,32
4,b'063942',2005-12-31,b'FIRST AVE NETWORKS INC',b'4812',4812.0,90727.0,226.922,1.325,1.241,0.067687,455.834,-0.502183,4812,4812,7,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198608,b'170758',2017-12-31,b'CAESARSTONE LTD',b'3281',3281.0,13321.0,652.987,588.147,538.543,0.092108,584.700,0.116790,3281,3281,3,17
198609,b'170758',2018-12-31,b'CAESARSTONE LTD',b'3281',3281.0,13321.0,616.922,575.871,588.147,-0.020872,652.987,-0.055231,3281,3281,3,17
198610,b'170758',2019-12-31,b'CAESARSTONE LTD',b'3281',3281.0,13321.0,703.866,545.974,575.871,-0.051916,616.922,0.140932,3281,3281,3,17
198611,b'170758',2020-12-31,b'CAESARSTONE LTD',b'3281',3281.0,13321.0,820.921,486.412,545.974,-0.109093,703.866,0.166303,3281,3281,3,17
198612,b'170758',2021-12-31,b'CAESARSTONE LTD',b'3281',3281.0,13321.0,867.653,643.892,486.412,0.323758,820.921,0.056926,3281,3281,3,17

In [26]:
#grouping by year
finaldf.groupby(finaldf.DATADATE.dt.year).agg(['mean','count']).loc[:,['GASSETS','GSALE']]

           GASSETS           GSALE
              mean count      mean count
DATADATE
1985      0.137986  3020  0.253052  3020
1986      0.166869  3074  0.390765  3074
1987      0.180406  3184  0.466044  3184
1988      0.131437  3124  0.458985  3124
1989      0.133183  3075  0.412107  3075
1990      0.111068  3068  0.376244  3068
1991      0.093887  3201  0.612959  3201
1992      0.134172  3466  0.536848  3466
1993      0.159088  3840  0.388420  3840
1994      0.192146  4108  1.930927  4108
1995      0.219689  4316  0.616655  4316
1996      0.241428  4722  0.495353  4722
1997      0.212613  4821  0.865588  4821
1998      0.214663  4694  0.516004  4694
1999      0.256368  4543  0.460305  4543
2000      0.375863  4458  0.818723  4458
2001      0.077117  4138  0.601211  4138
2002      0.027172  3871  0.193525  3871
2003      0.102197  3627  0.359910  3627
2004      0.196213  3577  0.560508  3577
2005      0.144701  3492  0.723381  3492
2006      0.185519  3414  0.293711  3414
2007      0.186888  3291  2.115732  3291
2008      0.047208  3110  0.537143  3110
2009      0.058580  2958  0.247126  2958
2010      0.150292  2886  3.473269  2886
2011      0.169212  2818  0.417075  2818
2012      0.113253  2768  0.320777  2768
2013      0.121210  2796  0.251091  2796
2014      0.154010  2834  1.243332  2834
2015      0.103195  2805  0.724679  2805
2016      0.083656  2751  3.390895  2751
2017      0.132427  2709  0.979505  2709
2018      0.133071  2715  5.355603  2715
2019      0.146959  2705  0.652376  2705
2020      0.283424  2590  2.418220  2590
2021      0.299550  2472  2.670717  2472